.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 16px;
  width: 90%;
}

/* Brand & Contact */
.social-icons {
  display: flex;
  gap: 12px;
}

.footer-logo {
  width: 120px;
  margin-bottom: 8px;
}

.footer-contact {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
}
